body{background-color: papayawhip; padding: 0px; background-image: url("./img/bg3.jpg"); background-repeat: no-repeat; background-size: cover; }


h1{
font-family: "Courier New", monospace; color:pink; background-color: green; padding: 5px; border-style:dotted; border-width:2px;}
img{border-style:inset;}

h3{font-family: "Arial Narrow";}

hr{border-width:3px; border-style:grove; border-color:yellow;}



i {
color: yellow;}

b{
color: blue;}
p b {
color: blue !important;}
p b {
color: violet;}
p#intro {
font-size: 90%;}
p {
font-size: 75%; opacity: 0.1;}

.note{font-family: "Bahnschrift Light";}

a{color:white;}
li{color:#ee3e80;}


#introduction
{color:green;}

div{
  background-color:darkgreen;
  
  text-align: right;
}

a:link, a:visited {
  color: white;
  text-align: center;
  display: inline-block;
  padding: 8px 25px;
  text-decoration: none;
}

a:hover, a:active {
  background-color: #f44336;
  color: yellow;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  }
